#telefono1  {
    float: right;
    margin: 0 0 0 100%;
}
@media (max-width: 1200px){
    img#telefono1{
        visibility: hidden;
    }
}
@media (max-width: 1200px){
    img#telefono3{
        visibility: hidden;
    }
}
@media (max-width: 1200px){
    img#mapa{
        visibility: hidden;
    }
}
.texto_1_01{
    position: relative;
    top: 200px;
}
.texto_1_02{
    position: relative;
    top: 200px;
}

.texto_1_03{
    position: relative;
    bottom: 500px;
    font-size: 24px;
}
 .descarga{
     position: relative;
     bottom: 400px;
 }

 .card-title{
     position: relative;
     left: 85px;
     bottom: 45px;
 }

 .mapa{
     position: relative;
     top: 100px;
     left: 10%;
     height: 100%;

 }
.container-fluid_1{
    max-height: 100px;
}
 .container_1{
     position: relative;
     left: 60%;
     bottom: 500px;
 }

 .texto_3_01{
     position: relative;
     text-align: center;
 }
.texto_3_02{
    position: relative;
    text-align: center;
}
 .linea_3{
     position: relative;
     left: 39%;
     top: 40px;
 }

 .linea_4{
     position: relative;
     left: 57%;
     bottom: 39px;
 }
 #telefono3{
     position: relative;
     left: 41%;
 }
 .container_2{
     position: relative;
     left: 10%;
     bottom: 700px;
 }
.container_3{
    position: relative;
    left: 10%;
    bottom: 500px;
}
.container_4{
    position: relative;
    left: 68%;
    bottom: 1120px;
}
.container_5{
    position: relative;
    left: 68%;
    bottom: 920px;
}
.feedback{
    position: relative;
    text-align: center;
}
.texto_4_01{
    text-align: center;
}
.texto_4_02{
    text-align: center;
    font-size: 24px;
}
.flecha{
    position: relative;
    font-size: 22px;
    left: 10%;
    top: 300px;
}
.comentario_1{
    position: relative;
    left: 35%;
}
.comentario_2{
    position: relative;
    left: 60%;
    bottom: 487px;
}
.comentario_3{
    position: relative;
    left: 35%;
    bottom: 600px;
}
.rating{
    position: relative;
    bottom: 210px;
    left: 1%;
}
.texto_4_04{
    position: relative;
    left: 0.6%;
    bottom: 65px;
}
.texto_4_05{
    position: relative;
    left: 7%;
    font-size: 24px;
    bottom: 320px;
}
.texto_4_06{
    position: relative;
    left: 1%;
    bottom: 280px;
}
.texto_5_01{
    text-align: center;
}
.perfiles{
    position: relative;
}
.texto_5_02{
    position: relative;
    bottom: 480px;
    font-size: 20px;
    left: 0.8%;
}
.texto_5_03{
    position: relative;
    bottom: 480px;
    font-size: 20px;
    left: 5%;
}
.perfil_1{
    position: relative;
    top: 150px;
    left: 15%
}
.perfil_2{
    position: relative;
    bottom: 663px;
    left: 39%
}
.foto-perfil{
    position: relative;
    left: 21%;
}
.perfil_3{
    position: absolute;
    bottom: 660px;
    left: 65%
}
.perfil_4{
    position: absolute;
    top: 600px;
    right: 53%
}
.perfil_5{
    position: absolute;
    top: 600px;
    right: 29%
}
.social_links{
    position: relative;
    left: 28.7%;
}
.texto_6_02{
    position: relative;
    left: 0.7%;
    bottom: 170px;
}
.texto_test{
    position: relative;
    left: 37%;
    bottom: 600px;
}